{% extends "base.html.twig" %}
{% block body %}
    {{ form_start(form)}}
    {{ form_row(form.title)}}
    {{ form_row(form.description)}}
    <div class="mb-3">
        <button class="btn btn-success" type="submit">Edit</button>
    </div>
    {{ form_end(form)}}
    



{% endblock %}